@import "../../assets/mixins/mixins";

.main {
  display: flex;
  flex-flow: column;
  height: 100%;
  h1 {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 1%;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 22px;
    background: rebeccapurple;
    color: whitesmoke;
  }
}
.img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// INFO Weather
.info-wether {
  position: relative;
  display: flex;
  flex-flow: column;
  align-self: center;
  z-index: 2;
  width: 80%;
  color: aqua;
  h2 {
    background: rebeccapurple;
  }
  @include tablets {
    width: 100%;
  }
}
// TABLE
.info-wether__table {
  width: 100%;
  margin-bottom: 20px;
  tr {
    background-color: rgba(0, 0, 0, 0.9);
  }
  @include tablets {
    width: 100%;
    tr {
      display: flex;
      flex-flow: column;
      // margin-bottom: 10px;
      border-radius: 10px;
      border: 2px solid rebeccapurple;
    }
  }
  // }
  // .bounce-enter-active {
  //   animation: slideInUp 0.5s;
  // }
  // .bounce-leave-active {
  //   animation: slideInUp 0.5s reverse;
  // }
  // .slideInUp {
  //   -webkit-animation-name: slideInUp;
  //   animation-name: slideInUp;
  //   -webkit-animation-duration: 1s;
  //   animation-duration: 1s;
  //   -webkit-animation-fill-mode: both;
  //   animation-fill-mode: both;
  // }
  // @-webkit-keyframes slideInUp {
  //   0% {
  //     -webkit-transform: translateY(100%);
  //     transform: translateY(100%);
  //     visibility: visible;
  //   }
  //   100% {
  //     -webkit-transform: translateY(0);
  //     transform: translateY(0);
  //   }
}
.span-alert {
  position: relative;
  z-index: 2;
  background: #000;
  color: grey;
  padding-bottom: 5px;
}

.worm {
  color: orange;
}
.errGet {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.9);
  color: rgb(228, 25, 25);
  z-index: 10;
  min-height: 200px;
}

// LOADER
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  z-index: 10;
  margin: auto;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}
